<div class="col-sm-12" style="display: none;">
    <label>Timer: </label>
    <div id="playertimer">00:00</div>
    <div id="totalBet">R0</div>
    <div class="rolldice mt-4"><a id="rollbutton">
            <Button class="btn-primary btn-lg">Roll
                Dice</Button></a>

    </div>
    <div class="rolldice mt-4">
        <a id="placebet"> <Button class="btn-primary btn-lg">Bet</Button></a>
        <a id="skip"> <Button class="btn-primary btn-lg">Skip</Button></a>
    </div>
    <iframe id="gameframe" width="100%" height="400"></iframe>
</div>
<!-- <script src="js/frontendlogic.js"></script> -->