<div id="joinroomcontrols" class="fixed inset-0 flex items-center justify-center bg-zinc-900 bg-opacity-80" style="display: none;">
    <div class="bg-zinc-800 p-20 rounded-lg shadow-lg w-[30rem] relative">
        <button id="close-join-room" class="absolute top-4 right-4 text-zinc-400 hover:text-zinc-200">
            &times;
        </button>
        <h1 class="text-3xl font-bold text-center text-zinc-200 mb-2">Join a Room!</h1>
        <p class="text-zinc-400 text-sm mb-4">Enter the Room ID to join a game room.</p>
        <label for="roomid" class="block text-gray-100">Room ID:</label>
        <input id="roomid" class="form-control mt-2 mb-6 p-2 border border-gray-950 rounded w-full focus:outline-none focus:ring-2 focus:ring-zinc-600 text-blue-600" placeholder="Enter Room name" required="" autofocus="">
        <a href="#" id="joinbutton">
            <button class="mt-3 bg-zinc-800 text-white py-2 px-4 rounded hover:bg-zinc-700 border border-1 border-zinc-300">Join</button>
        </a>
    </div>
</div>
