<!-- <div class="hidden flex flex-col items-center space-y-6 py-8 px-8 bg-zinc-800 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold text-white">Get Started</h2>
    <p class="text-sm text-zinc-400">Create or join a game room to start playing!</p>
    <div class="flex space-x-4">
        <button id="creategame"
            class="px-6 py-3 text-lg font-semibold text-white bg-green-600 hover:bg-green-500 rounded-lg shadow-md transition duration-300">
            Create Room
        </button>
        <button id="joinroom"
            class="px-6 py-3 text-lg font-semibold text-white bg-blue-600 hover:bg-blue-500 rounded-lg shadow-md transition duration-300">
            Join Room
        </button>
    </div>
</div> -->

<div id="start" class="min-h-screen  flex items-center justify-center" style="background-image: url('../images/room-2.jpg'); background-size: cover; background-position: center;">
    <div class="max-w-5xl w-full ">
        <!-- <h1 class="text-3xl font-bold text-center text-zinc-700 mb-4">
            Create or join a room!
        </h1> -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
            <!-- 3 Dice Game -->
            <div id="threeDiceGame"
                class="bg-zinc-800 text-zinc-100 rounded-lg shadow-lg p-6 flex flex-col items-center justify-center hover:bg-zinc-700 transition duration-300 cursor-pointer h-[36rem] border-4 border-zinc-800 bg-blend-multiply""
                style="background-image: url('../images/room-4.jpg'); background-size: cover; background-position: center;">

                <div class="text-center mb-8 px-24">
                    <h2 class="text-3xl font-bold text-white mb-4 text-gray-200">Create a Room</h2>
                    <p class="text-sm text-zinc-300">
                        Start your own game room and invite your friends to join. Play with your unique rules!
                    </p>
                </div>
                <div class="flex baseline justify-center gap-2">
                    <button id="creategame"
                        class="py-2 px-6 bg-gray-800 hover:bg-zinc-900 text-white rounded-lg font-medium shadow-md h-10 border border-1 !border-zinc-500">
                        Create Room
                    </button>
                </div>
            </div>

            <!-- 2 Dice Game -->
            <div id="threeDiceGame"
                class="bg-zinc-800 text-zinc-100 rounded-lg shadow-lg p-6 flex flex-col items-center justify-center hover:bg-zinc-700 transition duration-300 cursor-pointer h-[36rem] border-4 border-zinc-800 bg-blend-multiply""
                style="background-image: url('../images/room-7.jpg'); background-size: cover; background-position: center;">

                <div class="text-center mb-8 px-24">
                    <h2 class="text-3xl font-bold text-white mb-4 text-gray-200">Join a Room</h2>
                    <p class="text-sm text-zinc-300">
                        Enter a room code to join an existing game. Play with others in real-time!
                    </p>
                </div>

                <div class="flex baseline justify-center gap-2">
                    <button id="joinroom"
                        class="py-2 px-6 bg-gray-800 hover:bg-zinc-900 text-white rounded-lg font-medium shadow-md h-10 border border-1 !border-zinc-500">
                        Join a Room
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>